#footer1{
   /* margin-top: 20px; */
   background-color: #212a2f;
   color: #fff;
}
.link-list1{
    display: flex;
    margin-top: 50px;
}

#footer-list-title h4{
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
}
.col-3 li{
    font-size: 13px;
}
.link-list2{
    display: flex;
    margin-top: 50px;
}
.flag-list{
    display: flex;
    justify-content: flex-start;
}
.flag-list li img{
   padding-left: 20px;
}
.copyright p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
#footer-list-title2 h4{
    font-weight: bold;
    font-size: 16px;
}
.col-4 li{
    font-size: 13px;
}

@media only screen and (max-width: 600px){
    .copyright p{
        font-size: 14px;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .link-list2{
        display: block;
        justify-content: center;
        text-align: center;
    }
    .link-list2 #footer-logo{
        margin: auto;
    }
    .link-list2 .flag-list li{
        justify-content: center;
        margin: auto;
        margin-top: 20px;
    }
    .link-list2 #follow-flock{
        display: block;
        text-align: center;
        margin:auto;
    }
    .link-list1 .col-3{
        display: block;
    }

}

/* for footer 2 */
#mobile-footer{
    display: none;
}
@media only screen and (max-width: 600px){
    #footer1{
        display: none;
    }
    #mobile-footer{
        background-color: #212a2f;
        height: auto;
        color: #fff;
        display: block;
        
    }
    #mobile-block{
        display: block;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }
    #display-data{
        padding-top: 30px;
    }
    #follow ul li{
        text-align: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    #flag ul li img{
        /* display: flex; */
        justify-content: center;
        text-align: center;
        margin-left: 5px;
    }
   
    #copyright p{
        text-align: center;
        justify-content: center;
        padding: 20px;
    }
}